<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% 
    const title = "Game and Narrative Design | Alex(andria) van Eekelen";
    const description = "Alex(andria) van Eekelen is a game and narrative designer, currently further specializing in their fields of preference. Their skillset extends into a generalist approach to prototyping and game-making."
    const url = "https://www.neonpastel.net/portfolio";
    const image = "";
    const imageWidth = 0;
    const imageHeight = 0;
    %>

    <title><%=title%></title>
    <meta name="description" content="<%=description%>"/>
    <link rel="canonical" href="<%=url%>"/>

    <meta property="og:title" content="<%=title%>"/>
    <meta property="og:description" content="<%=description%>"/>
    <meta property="og:image" content="<%=image%>"/>
    <meta property="og:image:width" content="<%=imageWidth%>"/>
    <meta property="og:image:height" content="<%=imageHeight%>"/>
    <meta property="og:url" content="<%=url%>"/>
    <meta property="og:site_name" content="Portfolio"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="<%=title%>"/>
    <meta name="twitter:description" content="<%=image%>"/>
    <meta name="twitter:image" content="<%=image%>"/>

    <link rel="stylesheet" href="assets/stylesheet.css">
</head>
<body>
    <nav id="top-nav">
        <h1>Alex(andria) van eekelen</h1>
        <a href="https://example.com">
            <button>Portfolio</button>
        </a>
    </nav>

    <header>
        <span>
            <h2>Alex(andria)</h2>
            Interactive Narrative designer
        </span>
        <svg preserveAspectRatio="none" data-bbox="19.588 20.146 159.561 159.541" viewBox="19.588 20.146 159.561 159.541" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true">
            <g>
                <path d="M170.281 20.146v144.371L25.892 20.16l-6.27 6.268 144.421 144.393H19.588v8.866h159.561V20.146h-8.868z"></path>
            </g>
        </svg>
        <img src="assets/images/header-interactive-painware-artisan.png" aria-hidden="true">
    </header>

    <main>
        <section id="about-and-contact">
            <h3 class="sr-only">About & contact me</h3>
            <section id="about">
                <h4 class="sr-only">About</h4>
                <p>
                    My name is Alex(andria),<br>
                    a Utrecht-based game and interactive
                    narrative designer with her roots in
                    D&D homebrew
                </p>

                <p>
                    As a recent graduate with a BSc in 
                    Creative Media and Game Technologies, 
                    I'm currently applying for a master's.
                </p>
 
                <p>
                    My interest lies in providing insight
                    through interaction, whether it be
                    interactive stories or experiences.
                </p>

                <p>
                    For 20 weeks I have worked as an
                    intern game/narrative designer at
                    FourceLabs, contributing to the game
                    Unexplored 2.
                </p>

                <p>
                    I hope my work catches your fancy,
                    and feel free to shoot me a message about whatever!
                </p>
                <nav id="links">
                    <h4 class="sr-only">Links to my other sites</h4>
                    <ul>
                        <%
                        const keys = Object.keys(links);
                        for (i=0; i < keys.length; i++) { 
                            const label = keys[i];
                            const link = links[label];
                            let isSvg, classname = "";
                            if (label == "art" || label == "music") {
                                isSvg = true;
                                classname += "svg-icon";
                            } else {
                                isSvg = false;
                            }
                        %>
                            <a href="<%=link[1]%>" class="<%=classname %>">
                                <li>
                                    <% if (isSvg) {%>
                                        <%- include(`./assets/icons/${label}.svg`) %>
                                    <%} else { 
                                    const image = `assets/icons/${label}.webp`;
                                    %>
                                        <img src="<%=image%>" alt="<%=label%>">
                                    <%}%>
                                </li>
                            </a>
                        <% }; %>
                    </ul>
                </nav>
            </section>

            <section id="contact">
                <h4 class="sr-only">Contact info</h4>
                <img id="marquee" src="assets/images/marquee-text-corrected.gif" aria-hidden="true">
                <ul>
                    <%
                        const contactKeys = Object.keys(contact);
                        for (i=0; i < contactKeys.length; i++) { 
                            const label = contactKeys[i];
                            const link = contact[label];
                            let isSvg, classname = "";
                            if (label == "mail") {
                                isSvg = true;
                                classname += "svg-icon";
                            } else {
                                isSvg = false;
                            }
                        %>
                            <li>
                                <% if (isSvg) {%>
                                    <%- include(`./assets/icons/${label}.svg`) %>
                                <%} else {
                                    const image = `assets/icons/${label}.webp`;
                                %>
                                    <img src="<%=image%>" alt="<%=label%>">
                                <%}%>

                                <% if (label == "mail") { %>
                                    <a href="mailto:<%=link%>" class="<%=classname %>">
                                        <%=link%>
                                    </a>
                                <%} else {%>
                                    <span><%=link%></span>
                                <%}%>
                            </li>
                        <%
                        };
                        %>
                </ul>
            </section>
            <img id="vertical-text-block" src="assets/images/vertical-text-block.png" aria-hidden="true">

            <img id="toolbelt" src="assets/images/toolbelt.png" 
                title="Tools in order: Blender, Fruity Loops, Unity, PhotoShop, Premiere, Notion"
                alt="My toolbelt: Blender, Fruity Loops, Unity, PhotoShop, Premiere, Notion. Anything listed is up for replacement. I've dabbled in mixed media as well. These are simply what I've used most often during my studies">

        </section>

        

        <div id="spread-and-resume">
            <img id="spread" src="assets/images/spread.png" aria-hidden="true">
            <section id="resume">
                <h3>Resume</h3>
                <a href="https://f50c6c92-f0be-4e20-bd70-104faff8915a.filesusr.com/ugd/8465a0_ebcb9f5c5b7a489e800c38880c5ec9e2.pdf" aria-label="Download Alexandria's resume in English">English</a>
            </section>
        </div>

        
        <%
        function basicslug(str) {
            return str.replace(/[^a-zA-Z0-9]/g, "-");
        }
        %>

        <section id="projects">
            <nav id="projects-nav">
                <%
                var vals = Object.values(projects);
                for (let i=0; i < vals.length; i++) {%>
                    <label role="button" aria-flowto="<%=basicslug(vals[i].title)%>" aria-label="Show <%=vals[i].title%> info" tabindex="0" for="<%=basicslug(vals[i].title)%>-radio" id="<%=basicslug(vals[i].title)%>-label"><%=vals[i].title%></label>
                <%}%>
            </nav>
            <%
            var vals = Object.values(projects);
            for (let i=0; i < vals.length; i++) {%>
                <%-include("/project", {"project": vals[i], "slug": basicslug(vals[i].title), checked: (i == 0)});%>
            <%}%>
        </section>
    </main>

    <aside>
        <img id="portrait" src="assets/images/portrait.png" alt="A glitched out portrait">
        <img id="a-creature-building-for-a-future" src="assets/images/a-creature-building-for-a-future.png" alt="An image with decorative font reading 'A creatue Building for A future">
        <section id="musicplayer">
            <audio>
                <source src="assets/music.mp3" type="audio/mpeg">
            </audio>
            <button aria-pressed="false">Play<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 38" class="oneColor"><path fill="#2B328C" d="M18.869 38H29V0H18.869v38zM0 38h10.131V0H0v38z"></path></svg></button>
        </section>
        <img id="musicplayer" src="assets/images/musicplayer.png" aria-hidden="true">
    </aside>

    <footer>
        <p>Copyright &copy; 2024 Alexandria van Eekelen. All Rights Reserved.</p>
        <p>Designed by Alexandria, programmed by <a href="https://denperidge.com/">Denperidge</a>. Source code available on <a href="https://github.com/Neonpastel/alexandria">GitHub</a>.</p>
    </footer>

    <script src="assets/music.js"></script>

</body>
</html>