<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/stylesheet.css">
</head>
<body>
    <nav id="top-nav">
        <h1>Alex(andria) van eekelen</h1>
        <a href="https://example.com">
            <button>Portfolio</button>
        </a>
    </nav>

    <header>
        <span>
            <h2>Alex(andria)</h2>
            Interactive Narrative designer
        </span>
        <svg preserveAspectRatio="none" data-bbox="19.588 20.146 159.561 159.541" viewBox="19.588 20.146 159.561 159.541" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true">
            <g>
                <path d="M170.281 20.146v144.371L25.892 20.16l-6.27 6.268 144.421 144.393H19.588v8.866h159.561V20.146h-8.868z"></path>
            </g>
        </svg>
        <img src="assets/header-interactive-painware-artisan.png" alt="">
    </header>

    <main>
        <section id="about-and-contact">
            <h3 class="sr-only">About & contact me</h3>
            <section id="about">
                <h4 class="sr-only">About</h4>
                <p>
                    My name is Alex(andria),<br>
                    a Utrecht-based game and interactive
                    narrative designer with her roots in
                    D&D homebrew
                </p>

                <p>
                    As a recent graduate with a BSc in 
                    Creative Media and Game Technologies, 
                    I'm currently applying for a master's.
                </p>
 
                <p>
                    My interest lies in providing insight
                    through interaction, whether it be
                    interactive stories or experiences.
                </p>

                <p>
                    For 20 weeks I have worked as an
                    intern game/narrative designer at
                    FourceLabs, contributing to the game
                    Unexplored 2.
                </p>

                <p>
                    I hope my work catches your fancy,
                    and feel free to shoot me a message about whatever!
                </p>
                <nav id="links">
                    <ul>
                        <%
                        const keys = Object.keys(links);
                        for (i=0; i < keys.length; i++) { 
                            const label = keys[i];
                            const link = links[label];
                            let isSvg, classname = "";
                            if (label == "art" || label == "music") {
                                isSvg = true;
                                classname += "svg-icon";
                            } else {
                                isSvg = false;
                            }
                        %>
                            <a href="<%=link[1]%>" class="<%=classname %>">
                                <li>
                                    <% if (isSvg) {%>
                                        <%- include(`./assets/icons/${label}.svg`) %>
                                    <%} else { 
                                    const image = `assets/icons/${label}.webp`;
                                    %>
                                        <img src="<%=image%>" alt="<%=label%>">
                                    <%}%>
                                </li>
                            </a>
                        <% }; %>
                    </ul>
                </nav>
            </section>

            <section id="contact">
                <%
                    const contactKeys = Object.keys(contact);
                    for (i=0; i < contactKeys.length; i++) { 
                        const label = contactKeys[i];
                        const link = contact[label];
                        let isSvg, classname = "";
                        if (label == "art" || label == "music") {
                            isSvg = true;
                            classname += "svg-icon";
                        } else {
                            isSvg = false;
                        }
                    %>
                        <li>
                            <% if (isSvg) {%>
                                <%- include(`./assets/icons/${label}.svg`) %>
                            <%} else {
                                const image = `assets/icons/${label}.webp`;
                            %>
                                <img src="<%=image%>" alt="<%=label%>">
                            <%}%>

                            <% if (label == "mail") { %>
                                <a href="mailto:<%=link%>" class="<%=classname %>">
                                    <%=link%>
                                </a>
                            <%} else {%>
                                <span><%=link%></span>
                            <%}%>
                        </li>
                    <%
                    };
                    %>
                <img id="marquee" src="assets/marquee-text-corrected.gif" alt="">
            </section>



            <img id="vertical-text-block" src="assets/vertical-text-block.png" alt="">

        </section>


    </main>
</body>
</html>